body
{
    background: linear-gradient(to bottom, green, blueviolet);
}

h1
{
    background-color: pink;
    color:goldenrod;
}
#OpenModalBtn{
    float:right;
}
canvas
{
    border:2px teal;
    border-radius:20px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example
{
    from{box-shadow: 10px 10px 15px rgb(255,98, 116)}
    to{box-shadow: 10px 10px 15px rgb(145,11,255);}
}

.label
{
    padding-top:10px;
    font-size:25px;
    color: gold;
}
#span1
{
    float:left;
}
#span2
{
    float:right;
}
#buttonRed
{
    width:50px;
    height:50px;
    background-color:red;
}
#buttonGreen
{
    width:50px;
    height:50px;
    background-color:green;
}
#buttonBlue
{
    width:50px;
    height:50px;
    background-color:blue;
}